@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SpokaHanSansNeo-Regular";
  src: url("./fonts/SpoqaHanSansNeo-Regular.ttf");
}
@font-face {
  font-family: "SpokasansMedium";
  src: url("./fonts/SpoqaHanSansNeo-Medium.ttf");
}
@font-face {
  font-family: "SpokHanSansNeoBold";
  src: url("./fonts/SpoqaHanSansNeo-Bold.ttf");
}
@font-face {
  font-family: "pangramMedium";
  src: url("./fonts/PPPangramSans-Medium.ttf");
}

.spokasansmedium {
    font-family: "SpokasansMedium";
    font-weight: 500;
  } 
.pangrammedium{

    font-family:"pangramMedium" ;
    font-weight: 500;
}
.pangramregular{

    font-family:"pangramMedium" ;
    font-weight: 400;
}
.spokanregular{
    font-family: "SpokaHanSansNeo-Regular";
    font-weight: 400;
    color: #868e96;
}
.spokabold{
    font-family: "SpokHanSansNeoBold";
    font-weight: 700;
    color: #188df9;
}
/* .font-spoka-han {
  font-family: "SpokaHanSansNeo-Regular";
  font-weight: 500;
}
.pangramMedium {
  font-family: "pangram";
  font-weight: 500;
}

.spoka {
  font-family: "SpokaHanSansNeo";
  font-weight: 400;
}
*/

li {
  color: white;
  list-style-type: none;
}
